footer{
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    background-color: #2b2d31;
    padding: 20px;
    color: rgb(219, 219, 219);
    font-size: 12px;
    flex-direction: column;
}

footer p span{
    font-weight: bold;
}

footer p:first-child{
    margin-bottom: 10px;
}