.footer_container{
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    background-color: rgb(99, 99, 99);
    padding: 10px;
    color: rgb(219, 219, 219);
    font-size: 12px;
}