.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container_home{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90vh;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
}

.name_info .span_bold{
    font-weight: bold;
}

.name_info span{
    border-bottom: 3px solid #479fe7;
}

.name_info p{
    color: white;
    font-size: 30px;
    max-width: 400px;
    text-align: left;
}

.things_do h1{
    margin-bottom: 25px;
    color: white;
    font-size: 20px;
    font-weight: 300;
}

.blocks{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

.blocks:last-child{
    margin-bottom: 30px;
}

.block p{
    background-color: #479fe7;
    padding: 5px 30px;
    cursor: pointer;
    color: white;
    transition: .3s;
}

.block p:hover{
    transform: scale(120%);
    transition: .3s;
}

.things_do a{
    padding: 5px 15px;
    border: 2px solid #479fe7;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    transition: .3s;
}

.things_do a:hover{
    background-color: #479fe7;
    transition: .3s;
    transform: scale(120%);
}